[package]
name = "sim-types"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
serde.workspace = true
serde_json.workspace = true
sim-config = { path = "../sim-config" }
strum = { version = "0.27", features = ["derive"] }
